{% extends "PhotoManager/base.html" %}
{% block page_title %}: {{ album.title }}{% endblock %}
{% block body %}
{% load thumbnail %}
<div class="album">
    <h1>{{ album.title }}</h1>
    <p>{{ album.description }}</p>
    {% for photo in album.photos.all %}
    {% thumbnail photo.image "100x100" as im %}
    <div class="preview">
    <a href="{% url 'PhotoManager:pm-photo' id=photo.pk %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
    </div>
    {% endthumbnail %}
    {% endfor %}
</div>
<a href="{% url 'PhotoManager:pm-modify_album' id=album.pk %}">Edit This Album</a>
<a href="{% url 'PhotoManager:pm-home' %}">Return Home</a>
{% endblock %}