<!DOCTYPE html>
<head>
    <title>Photo Manager{% block page_title %}{% endblock %}</title>
</head>
<body>

{% block login_status %}
<div class="loginstatus">
{% if user.is_authenticated %}
    <p>Logged in as {{ user.username }} - <a href="{% url 'account:auth_logout' %}">Log Out</a></p>
{% else %}
    <p>Not logged in - <a href="{% url 'account:auth_login' %}">Log In</a> or <a href="{% url 'account:registration_register' %}">Register</a></p>
{% endif %}
</div>
{% endblock %}

{% block body %}{% endblock %}

</body>
</html>