{% extends "PhotoManager/base.html" %}
{% block page_title %}: {{ user.username }}'s Home{% endblock %}
{% block body %}
{% load thumbnail %}
<h1>{{ user.username }}'s Homepage</h1>
<a href="{% url 'PhotoManager:pm-create_album' %}">Create a New Album</a>
<div class="albums">
{% if albums %}
{% for album in albums %}
    <div class="album">
        <h3><a href="{% url 'PhotoManager:pm-album' id=album.pk %}">{{ album.title }}</a></h3>
        {% thumbnail album.photos.all.0.image "100x100" as im %}
        <a href="{% url 'PhotoManager:pm-album' id=album.pk %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
        {% endthumbnail %}
        <p>{{ album.description }}</p>
    </div>
{% endfor %}
{% else %}
<p>You don't have any albums yet - would you like to <a href="{% url 'PhotoManager:pm-create_album' %}">create one?</a></p>
{% endif %}
</div>
{% endblock %}