{% extends "PhotoManager/base.html" %}
{% block body %}
<div class="albums">
{% if albums %}
{% for album in albums %}
    <div class="album">
        <h3><a href="{% url 'PhotoManager.views.album_view' id=album.pk %}">{{ album.title }}</a></h3>
        <!-- <img src={{ album.cover }}></img> -->
        <p>{{ album.description }}</p>
    </div>
{% endfor %}
{% else %}
<p>You don't have any albums yet - would you like to <a href="{% url 'PhotoManager.views.create_album_view' id=album.pk %}">create one?</a></p>
{% endif %}
</div>
{% endblock %}