{% extends "PhotoManager/base.html" %}
{% block body %}
<div class="photo">
    <img src="{{ photo.image.url }}"></img>
    <p>Description: {{ photo.description }}</p>
    <p>Tags:</p>
    <ul class="tags">
    {% for tag in photo.tags.all %}
        <li><a href="{% url 'PhotoManager:pm-tag' id=tag.pk %}">{{ tag.text }}</a></li>
    {% endfor %}
    </ul>
    <!-- <a id="prevlink" href="photo/{{ photo.album.last }}">Previous Photo</a> -->
    <a id="albumlink" href="{% url 'PhotoManager:pm-album' id=photo.album_set.all.0.pk %}">Back to Album</a>
    <!-- <a id="nextlink" href="photo/{{ photo.album.last }}">Next Photo</a> -->
</div>
<a id="homelink" href="{% url 'PhotoManager:pm-home' %}">Home</a>
{% endblock %}